.footer__copyright {
    margin: 0;
    align-self: center;
    justify-self: end;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
		margin: 16px 0 0;
        justify-self: start;
		line-height: 14px;
    }
}