.header__lang-link-en {
    margin: 0;
    display: block;
	color: #fff;
    align-self: end;
    font-family: Inter;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
	text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__lang-link-en {
        font-size: 18px;
		line-height: 20px;
    }
}