.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
		margin: 16px auto 0 auto;
        font-size: 16px;
		line-height: 20px;
    }
}